@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Siswa <a href="https://localhost:7245/siswas">building Web apps with ASP.NET Core</a>.</p>
    <p>Pelajaran <a href="https://localhost:7245/pelajarans">building Web apps with ASP.NET Core</a>.</p>
    <p>List Data Siswa dan Pelajaran <a href="https://localhost:7245/siswapelajarans">building Web apps with ASP.NET Core</a>.</p>
</div>
